    #PBS-ryscps1672155888251  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-ryscps1672155888251  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-ryscps1672155888251  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-ryscps1672155888251 {
    background-color: transparent;
}
#PBS-ryscps1672155888251  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-ryscps1672155888251 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-ryscps1672155888251 { }

   #PBS-m4qfx1672155938462  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-m4qfx1672155938462  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-m4qfx1672155938462  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-m4qfx1672155938462 {
    background-color: transparent;
}
#PBS-m4qfx1672155938462  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-m4qfx1672155938462 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-m4qfx1672155938462 { }

   #PBS-641pbu1672155937713  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-641pbu1672155937713  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-641pbu1672155937713  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-641pbu1672155937713 {
    background-color: transparent;
}
#PBS-641pbu1672155937713  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-641pbu1672155937713 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-641pbu1672155937713 { }

   #PBS-ta3j81672155936505  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-ta3j81672155936505  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-ta3j81672155936505  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-ta3j81672155936505 {
    background-color: transparent;
}
#PBS-ta3j81672155936505  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-ta3j81672155936505 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-ta3j81672155936505 { }

    #PBS-ouje2l1673862791736  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-ouje2l1673862791736  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-ouje2l1673862791736  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-ouje2l1673862791736 {
    background-color: transparent;
}
#PBS-ouje2l1673862791736  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-ouje2l1673862791736 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-ouje2l1673862791736 { }

   #PBS-rfg8fi1672156255928 .checkout .main{
    padding: 0;
}
#PBS-rfg8fi1672156255928 .checkout-heading{
    display: none;
}
#PBS-rfg8fi1672156255928 #express-checkout-section{
    padding: 0;
    margin: 8px 0;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    padding-top: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    padding-right: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    padding-bottom: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    padding-left: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    margin-right: auto;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    margin-left: auto;
}#PBS-rfg8fi1672156255928 {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form {
    width: 100%;
}
#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    background: transparent;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    max-width: 600px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    border-width: 4px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    border-style: dotted;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    border-color: #F7E0C0FF;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper {
    border-radius: 6px;
}@media (max-width: 440px){
    #PBS-rfg8fi1672156255928 > .inner-express-checkout-form > .page-builder-express-checkout-wrapper{
        width: 100% !important;
    }
}#PBS-rfg8fi1672156255928 .radio-buttons-container, .image-based-buttons-container, .color-based-buttons-container, .textual-buttons-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}#PBS-rfg8fi1672156255928 .radio-buttons-container, .image-based-buttons-container, .color-based-buttons-container, .textual-buttons-container{
    flex-direction: column;
}#PBS-rfg8fi1672156255928 .radio-buttons-container .radio-button-variant, .image-based-buttons-container .image-based-buttons, .color-based-buttons-container .color-based-buttons, .textual-buttons-container .textual-button{
    margin: 0 !important;
}#PBS-rfg8fi1672156255928 .single-variant{
  text-align: left;
}#PBS-rfg8fi1672156255928 .single-variant .radio-buttons-container, .image-based-buttons-container, .color-based-buttons-container, .textual-buttons-container{
  width: max-content;
  align-items: unset !important;
}#PBS-rfg8fi1672156255928 .single-variant .radio-buttons-container, .image-based-buttons-container, .color-based-buttons-container, .textual-buttons-container{
  margin: 0 auto 0 0 !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select{
    font-size: 14px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    color: #26292E !important;
}#PBS-rfg8fi1672156255928 .form-group .form-label {
    display: ;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    padding-top: 10px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    padding-right: 14px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    padding-bottom: 10px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    padding-left: 14px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    background: #FFFFFF !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    border-color: #D6D9DB !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    border-width: 1px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    border-radius: 6px !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    border-style: solid !important;
}#PBS-rfg8fi1672156255928 .form-group input, textarea, select {
    transition: all .25s;
}#PBS-rfg8fi1672156255928 .form-group input::placeholder, textarea::placeholder, select::placeholder{
    color: #BBC0C3;
    opacity: 1;
}#PBS-rfg8fi1672156255928 .form-group input:focus, textarea:focus, select:focus{
    color: #26292E !important;
}#PBS-rfg8fi1672156255928 .form-group input:focus, textarea:focus, select:focus{
    background: #FFFFFF !important;
}#PBS-rfg8fi1672156255928 .form-group input:focus, textarea:focus, select:focus{
    border-color: #26292E !important;
}#PBS-rfg8fi1672156255928 .form-group input:focus, textarea:focus, select:focus{
    border-width: 1px !important;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    font-size: 23px;
    height: auto !important;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    color: #e6e5e3;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    padding: 14px 24px;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    background: #477E81FF;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    border-color: #FFBEB9;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    border-width: 0px;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    border-style: solid;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit{
    border-radius: 6px;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit:hover,.single-submit:focus{
    color: #e6e5e3;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit:hover,.single-submit:focus{
    background: #DB2416;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit:hover,.single-submit:focus{
    border-color: #FFBEB9;
}#PBS-rfg8fi1672156255928 .add-to-cart-section .single-submit:hover,.single-submit:focus{
    border-width: 0px;
}#PBS-rfg8fi1672156255928 .product-price-container {
    margin: 10px auto 10px auto;
}#PBS-rfg8fi1672156255928 .product-price-container .product-price {
    font-size: 4rem;
    color: #477E81FF;
    font-family: Cairo;
    font-weight: bold;
    text-decoration: none;
    line-height: 150%;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px #000000;
}
#PBS-rfg8fi1672156255928 .product-price-container .product-price .currency {
    font-size: 1.5rem;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form{
    margin-top: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form{
    margin-right: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form{
    margin-bottom: 0px;
}#PBS-rfg8fi1672156255928 > .inner-express-checkout-form{
    margin-left: 0px;
}

   #PBS-yek7p81672675533572  > .inner-container > .inner-image-section[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-yek7p81672675533572  > .inner-container > .inner-image-section[href='']:active {
    pointer-events: none;
}
#PBS-yek7p81672675533572  > .inner-container > .inner-image-section {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: ;
}
#PBS-yek7p81672675533572 {
    background-color: transparent;
}
#PBS-yek7p81672675533572  > .inner-container {
    width: fit-content;
    margin: 0 auto 0 auto;
}
#PBS-yek7p81672675533572 img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
}#PBS-yek7p81672675533572 { }

    .PBS-bc96wa1672154237588 .footer{
    text-align: start;
    width: 100%;
}
#PBS-bc96wa1672154237588 .footer {
    background: #FEFEFE;
    color: #000000;
    border-top: 1px solid #F0F0F0;
}
#PBS-bc96wa1672154237588 .footer-body {
    border-top: none;
}#PBS-bc96wa1672154237588 .footer-link {
    color: #000000;
}#PBS-bc96wa1672154237588 > .footer {
    margin-top: 0px;
}#PBS-bc96wa1672154237588 > .footer {
    margin-right: 0px;
}#PBS-bc96wa1672154237588 > .footer {
    margin-bottom: 0px;
}#PBS-bc96wa1672154237588 > .footer {
    margin-left: 0px;
}#PBS-bc96wa1672154237588 > .footer > .container > .footer-body {
    padding-top: 30px;
}#PBS-bc96wa1672154237588 > .footer > .container > .footer-body {
    padding-right: 0px;
}#PBS-bc96wa1672154237588 > .footer > .container > .footer-body {
    padding-bottom: 30px;
}#PBS-bc96wa1672154237588 > .footer > .container > .footer-body {
    padding-left: 0px;
}#PBS-bc96wa1672154237588 { }

    #PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    padding-top: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    padding-bottom: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    padding-right: 0px;
    padding-left: 0px;
}.PBS-1epr8s1672155767387{
    background: #000000FF;
}#PBS-1epr8s1672155767387 .fr-view {
    display: flow-root !important;
}#PBS-1epr8s1672155767387 .fr-view {
    display: flow-root !important;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    margin-top: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    margin-right: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    margin-bottom: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    margin-left: 0px;
}#PBS-1epr8s1672155767387 > .inner-container > .inner-html-editor {
    width: 100%;
}
#PBS-1epr8s1672155767387 > .inner-container {
    margin: 0 auto 0 auto;
    max-width: 100%;
}#PBS-1epr8s1672155767387 { }

   #PBS-4dd90h1672673274432 > .inner-link-button > a[href=''] {
    cursor: default;
    user-select: none;
}
#PBS-4dd90h1672673274432 > .inner-link-button > a[href='']:active {
    pointer-events: none;
}
#PBS-4dd90h1672673274432 > .inner-link-button > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    background: #3F858DFF;
    color: #e6e5e3;
    border-color: #25292E;
    
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-width: 0px;
    border-style: solid;
    font-size: 15px !important;
    box-shadow: -3px 4px 7px 0px #4B4B4BFF;
    line-height: 150%;
    letter-spacing: 0px;
    justify-content: center;
    display: flex;
    width: 251px;
}
#PBS-4dd90h1672673274432 > .inner-link-button > a p {
    margin: 0;
}
#PBS-4dd90h1672673274432 > .inner-link-button {
    position: relative;
    width: 100%;
}
#PBS-4dd90h1672673274432 {
    width: 100%;
    z-index: 3;
}#PBS-4dd90h1672673274432 > .inner-link-button > a:hover, #PBS-4dd90h1672673274432 > .inner-link-button > a:focus{
    background: #59C1CDFF;
    color: #e6e5e3;
    border-color: #101214;
    border-width: 0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 0px 0px 0px black;
}#PBS-4dd90h1672673274432 > .inner-link-button > a:active{
    background: #F84D62FF;
    color: #e6e5e3;
    border-color: #101214;
    border-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 0px 0px black;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
    margin-top: 7px;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
    margin-right: 0px;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
    margin-bottom: 7px;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
    margin-left: 0px;
}#PBS-4dd90h1672673274432 > .inner-link-button {
    display: flex !important;
    justify-content: center;
    width: 100%;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
  animation-name: horizontal-bounce-ltr-PBS-4dd90h1672673274432;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}#PBS-4dd90h1672673274432 > .inner-link-button > a {
  width: 251px;
}#PBS-4dd90h1672673274432 > .inner-link-button .inner-text {
  text-shadow: 2px 0px 6px black;
}#PBS-4dd90h1672673274432 > .inner-link-button {
    background: transparent;
}
@media (max-width: 440px){
    #PBS-4dd90h1672673274432 > .inner-link-button {
        background: transparent;
    }
}                @keyframes horizontal-bounce-ltr-PBS-4dd90h1672673274432 {
                    0% {
                        transform: translateX(-2px);
                    }
                    100% {
                        transform: translateX(2px);
                    }
                }
#PBS-4dd90h1672673274432 { }#PBS-4dd90h1672673274432 .inner-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
html[dir=rtl] #PBS-4dd90h1672673274432 .inner-container {
    flex-direction: row;
}#PBS-4dd90h1672673274432 .inner-container > .inner-text {
    margin-right: 28px;
}    @media (max-width: 440px){
        #PBS-4dd90h1672673274432 .inner-container > .inner-text {
        margin-right: 10px;
    }
}
#PBS-4dd90h1672673274432 .inner-container > .inner-icon > i {
    font-size: 29px;
    color: #e6e5e3;
    text-shadow: 0px 0px 0px #000000;
}
#PBS-4dd90h1672673274432 > .inner-link-button > a:hover  i {
    color: #e6e5e3;
}#PBS-4dd90h1672673274432 .inner-container > .inner-icon > img {
    max-width: 29px;
    filter: drop-shadow(0px 0px 0px #000000);
}